@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 64 89 173;
    --secondary: 173 148 64;
    --blue-gray: 107 154 196;
    --tiffany-blue: 151 216 196;
    --xanthous: 244 185 66;
    --antiflash-white: 239 242 241;
    --background: 251 243 236;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
