---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV">
  <main class="max-w-7xl">
    <h1>Benedict Bihlmaier</h1>
    <p>
      <a href="mailto:Benedict.Bihlmaier@gmail.com"
        >Benedict.Bihlmaier@gmail.com</a
      >
    </p>
    <h2>Profil</h2>
    <p>
      With a background in human-computer interaction, I have been working in
      digital product and service development since 2017. Already during my
      studies, I began to focus on frontend engineering, but can benefit from my
      knowledge of UX design in many roles and projects. The desire for variety
      and challenges led me to the service industry. Here I can look back on
      project experience in a wide variety of industries (automotive, med-tech,
      public sector, among others). In addition to writing, testing, and
      reviewing code (primarily React.js + Typescript), my activities also
      include mentoring junior colleagues and working closely with designers. I
      see myself as a motivated, communicative bridge builder between
      disciplines with strong roots in frontend development.
    </p>
    <h2>Erfahrung</h2>
    <table>
      <tr>
        <td>05/2019 – present Munich</td>
        <td>
          Creative Technologist designaffairs GmbH / Accenture Song (since
          09/21)
          <ul>
            <li>
              Hybrid role with a focus on frontend development and special
              attention to close collaboration with other disciplines such as UI
              &amp; UX design.
            </li>
            <li>
              Development of frontend code for prototypes up to enterprise
              applications with multiple teams in agile working methods
            </li>
            <li>
              Responsible for architecture and implementation of various
              deliverables (e.g. web-based design systems)
            </li>
            <li>Mentoring of colleagues</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>04/2018 – 09/2018 Munich</td>
        <td>
          Intern Interaction Technology designaffairs GmbH
          <ul>
            <li></li>
          </ul></td
        ></tr
      >
    </table>
  </main>
</Layout>
