---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Benedict Bihlmaier<br />
Karwendelstra&szlig;e 38<br />
81369 M&uuml;nchen</p>

<h2>Kontakt</h2>
<p>
E-Mail: Benedict.Bihlmaier@gmail.com</p>
</Layout>
