---
---

<footer class="px-6 py-4 print:hidden bg-background flex justify-center">
  <nav>
    <ul>
      <li class="hover:text-primary">
        <a class="text-sm" href="/imprint">Imprint</a>
      </li>
    </ul>
  </nav>
</footer>
