---
export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<footer
  class={`${className} px-6 py-4 print:hidden bg-background flex justify-center`}
>
  <nav>
    <ul>
      <li class="hover:text-primary">
        <a class="text-sm" href="/imprint">Imprint</a>
      </li>
    </ul>
  </nav>
</footer>
