---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  headingLevel: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}
const { icon, headingLevel } = Astro.props;

const HeadingTag = headingLevel;
---

<span
  class="flex items-start mt-8 mb-4 after:flex after:self-center after:content-[''] after:h-[2px] after:left after:w-full after:bg-primary"
>
  <Icon
    pack="mdi"
    name={icon}
    class="inline-block w-9 h-9 mr-1 text-primary pb-2"
  />
  <HeadingTag class="text-2xl mr-4">
    <slot />
  </HeadingTag>
</span>
