---
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';

import "../styles/base.css";
import "@fontsource-variable/rubik";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const { pathname } = Astro.url
---
<!DOCTYPE html>
<html class="bg-background/80 print:bg-transparent" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Benedicts Playground" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-screen">
    { pathname !== "/" && (
    <header class="fixed left-0 top-0 w-full bg-transparent">
      <nav
        aria-label="Header"
        class="sticky top-0 px-6 py-4 print:hidden bg-background flex justify-between"
      >
        <ul class="flex justify-between">
          <li class="mr-4 hover:text-primary">
            <a  href="/">← Home</a>
          </li>
        </ul>
      </nav>
    </header>
    )}
    <main class="p-4 grow flex">
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    html {
      font-family: "Rubik Variable", sans-serif;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
